@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #FAFAFA;
  --color-foreground: #111111;
  --color-accent: #D7C4A5; /* Soft beige */
  --color-charcoal: #333333;
  --color-warm-grey: #888888;
  --color-off-white: #F4F4F4;

  --background: #FAFAFA;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #FAFAFA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Utilities for hiding scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
